@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Sfondo grigio chiaro aziendale */
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}